<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

<div id="<%= dom_id @recipe %>">
  <p class="my-5 text-center text-3xl font-bold">
    <%= @recipe.name %>
  </p>

  <p class="my-5">
    <strong class="font-bold mb-1">Preparation time:</strong>
    <%= @recipe.preparation_time %>
    <span class="float-right">Public</span>
  </p>

  <p class="my-5">
    <strong class="font-medium mb-1">Cooking time:</strong>
    <%= @recipe.cooking_time %>
  </p>   
  </div> 

    <%= link_to 'Edit this recipe', edit_recipe_path(@recipe), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this recipe', recipe_path(@recipe), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to recipes', recipes_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
